/*
 * See: https://fonts.google.com/license/googlerestricted
 */
@font-face {
  font-family: 'YouTube Sans';
  font-style: normal;
  font-weight: 600;
  src: url(../fonts.gstatic.com/s/youtubesans/v18/Qw3hZQNGEDjaO2m6tqIqX5E-AVS5_rSejo46_PCTRspJ0OosolrBEJL3HMXfxQASluL2m_dA2VGwBpSG.ttf) format('truetype');
}
